body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../Img/fondo-principal.avif);
    background-size: cover;
    background-attachment: fixed;
}

.header{
    display: flex;
    background-color: rgba(30, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: auto;
    padding: 10px 20px;
    justify-content: space-between; 
    align-items: center;
}

.header img{
    width: 140px;
    height: 100%;
    margin-left: 60px;
}

.header nav{
    display: flex;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 40px;
    margin-right: 120px;
}

.header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.block-principal{
    margin-top: 90px;
}

.block-principal h2{
    background-color: gainsboro;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    font-size: 40px;
}

.pilotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.pilotos img{
    height: auto;
    width: 90%;
    border-radius: 10px;
}

.grupo1{
    width: 80%;
    height: auto;
    max-width: 1200px;
}

.block-principal hr{
    width: 95%; 
    height: 10px;
    background-color: gainsboro;
    border: none;
    margin: 2em;
    border-radius: 10px;

}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer img{
    width: 150px;
    height: auto;
    margin: 0;
}

.links, .redes-sociales{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links li{
    margin-right: 20px;
}

.links a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: flex; 
    align-items: center;
}

.redes-sociales a {
    font-size: 20px; 
    margin: 0; 
    color: white;
    display: flex; 
    align-items: center;
}

.footer hr {
    width: 100%; 
    border: 2.5px solid #ccc; 
    margin: 20px 0; /* Espacio superior e inferior */
}